@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4{ 
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

/* HEADER */

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/header.jpg);
	position: relative;
}

/* NAV */
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 150px;
}

.nav-links{
	flex: 1;
	text-align: right;
  user-select: none;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

nav .text{
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
  display: inline-block;
}

nav .options .text {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.25;
}

nav a {
	color: white;
	text-decoration: none;
}

nav .text::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #daa520;
	display: block;
	margin: auto;
	transition: 0.5s;
}

nav .text:hover::after{
	width: 100%;
}

.dropdown {
	display: flex;
	flex-direction: column;
	position: relative;
}

.drop-btn {
	width: 150px;
	position: relative;
}

nav button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
}

.nav-links img {
	display: inline-block;
	max-width: 1em;
	max-height: 1em;
	filter: invert(1);
}

.options {
	display: flex;
	top: 2em;
	position: absolute;
	flex-direction: column;
	background-color: rgba(10, 10, 10, 0.7);
	outline: solid #444 2px;
	border-radius: 10px;
	padding: 10px;
	row-gap: 10px;

	opacity: 0;
	z-index: -1;
	transform: translateY(-20%);
	transition: all 0.5s ease;
}

.options.active {
	opacity: 1;
	z-index: 1;
	transform: translateY(0);
}

.drop-btn img {
	transform: rotate(0deg);
	transition: all 0.5s ease;
}

.options.active ~ .drop-btn img {
	transform: rotate(180deg);
}

/* FOOTER */

footer{
	background-color: #222;
	color: dimgray;
	font-family: 'Comfortaa', cursive;
	height: 30vh;
	padding: 4% 6%;
}

footer .footer-row{
	display: flex;
	justify-content: space-between;
}

footer .footer-column{
	flex-basis: 25vh;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

footer .footer-main{
	flex-basis: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

footer img{
	width: 100%;
}

footer h1{
	font-family: 'Comfortaa', cursive;
	color: #bbb;
	font-weight: bolder;
	font-size: 1.5em;
}

footer strong{
	font-weight: bold;
	font-size: 1em;
}

footer p{
	font-size: 0.75em;
}

footer .copyright{
	text-align: center;
}

/* OTHER */

.text-box{
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 48px;
}

/* MAIN */
.main{
	margin: auto;
	font-size: 1.25em;
}

.main p{
	text-indent: 50px;
	text-align: justify;
	line-height: 1.5em;
	padding: 10px;
}

.main h1{
  font-size: 3em;
	margin-bottom: 10px;
	color: #5c0d02;
}

.main h2{
  font-size: 2em;
	margin-bottom: 10px;
	color: #5c0d02;
}

.main .letter{
	font-weight: bolder;
	color: gray;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.container img{
  width: 100%;
}

.text-left{
	min-width: 60%;
	max-width: 60%;
}

.image-left{
	min-width: 40%;
	max-width: 40%;
}

.right{
	flex-grow: 1;
}

.image-left img, .right img{
	border-radius: 25px;
}

.background{
	min-height: 100vh;
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
}

.content{
	margin: auto;
	width: 85%;
}

.row{
	margin-top: 2%;
	display: flex;
	justify-content: center;
	column-gap: 20px;
}

.row strong{
	text-align: center;
}

.column{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex-basis: 31%;
	border-radius: 10px;
}

.column img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.column2{
	display: flex;
	flex-direction: column;
	flex-basis: 31%;
	background: #333;
	border-radius: 10px;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
	text-align: center;
}

.column2:hover{
	box-shadow: 0 0 20px 0px black;
}

.column2 img{
	width: 85%;
	height: 190px;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	border-radius: 10px;
	margin-bottom: 20px;
	filter: invert(1);
}

.column2 i{
	margin-top: 10px;
	font-size: 0.75em;
	color: #bbb;
}

/* AUDIENCE ANALYSIS SURVEY */
.survey{
	background: white;
	padding: 40px 50px 40px 40px;
	color: black;
	border-radius: 20px;
	margin: 0 20px;
	margin-top: 2%;
	height: 75vh;
}

.survey .main-title{
	font-size: 2em;
	font-weight: bolder;
	font-style: italic;
	letter-spacing: -1px;
	margin-bottom: 30px;
}

.survey .table-content{
	display: flex;
	/*align-items: center;*/
	/*justify-content: space-between;*/
}

.survey .table-content .list{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 23%;
	margin-right: 50px;
	user-select: none;
}

.survey .table-content .list img{
	max-height: 1em;
	vertical-align: text-bottom;
}

.table-content .list label{
	height: 3em;
	cursor: pointer;
	border-radius: 15px;
	width: 100%;
	line-height: 3em;
	/*margin: 5px 0;*/
	padding-left: 20px;
	z-index: 12;
	font-weight: bold;
	transition: all 0.5s ease;
}

.table-content .list label:hover{
	/*color: #8e6a00;*/
	filter: invert(34%) sepia(76%) saturate(2443%) hue-rotate(38deg) brightness(91%) contrast(101%);
}

#demographics:checked ~ .list .demographics,
#beliefs:checked ~ .list .beliefs,
#attitudes:checked ~ .list .attitudes,
#preferences:checked ~ .list .preferences{
	filter: invert(1);
}

.table-content .indicator{
	height: 3em;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: #cc9901;
	border-radius: 15px;
	transition: all 0.5s ease;
}

#demographics:checked ~ .list .indicator{
	top: 0;
}

#beliefs:checked ~ .list .indicator{
	top: 3em;
}

#attitudes:checked ~ .list .indicator{
	top: 6em;
}

#preferences:checked ~ .list .indicator{
	top: 9em;
}

.survey input[type="radio"]{
	display: none;
}

.survey .table-content .text-content{
	height: 100%;
	width: 75%;
	max-height: 65vh;
	overflow: auto;
}

.survey .table-content .text-content .title{
	font-size: 1.25em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

.survey .table-content .text-content .text{
	display: none;
}

#demographics:checked ~ .text-content .demographics,
#beliefs:checked ~ .text-content .beliefs,
#attitudes:checked ~ .text-content .attitudes,
#preferences:checked ~ .text-content .preferences{
	display: block;
}

.survey .table-content .text-content .text img{
	margin-top: 5px;
	margin-bottom: 15px;
}

/* LIST COLUMN */

.list-column{
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin-top: 2%;
}

.list-column .item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 25px;
	background-color: #f9f7f0;
	border-radius: 15px;
	padding: 10px;
	box-shadow: rgba(70, 70, 70, 0.4) 5px 5px, rgba(70, 70, 70, 0.3) 10px 10px, rgba(70, 70, 70, 0.2) 15px 15px, rgba(70, 70, 70, 0.1) 20px 20px, rgba(70, 70, 70, 0.05) 25px 25px;
}

.list-column .item img{
	width: 10%;
}

.list-column .item strong{
	flex-grow: 1;
}

/* SCROLL ANIMATIONS */

.hidden{
	opacity: 0;
	transform: translateX(-20%);
	transition: all 1.5s ease;
}

.show{
	opacity: 1;
	transform: translateX(0%);
}
